*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.contenedor{
  width: 1200px;
  margin: 0 auto;
}

/*encabezado*/

.header .top-header{
  padding: 6px 0;
  font-size: 12px;
  border-bottom: 1px solid #f0f0f0;
  background: #fafafa;
  overflow: hidden;
}

.header .top-header .contenedor .top-menu{
  float: left;
}

.header .top-header .contenedor .top-menu ul{
  list-style: none;
}

.header .top-header .contenedor .top-menu ul li{
  float: left;
}

.header .top-header .contenedor .top-menu ul li a{
text-decoration: none;
color: #363940;
padding: 10px 15px;
display: inline-block;
}

.header .top-header .contenedor .top-menu ul li a:hover{
  color: #8b919c;
}

.header .top-header .contenedor .top-redes{
  float: right;

}

.header .top-header .contenedor .top-redes ul{
  list-style: none;
}

.header .top-header .contenedor .top-redes ul li{
  float: right;
}

.header .top-header .contenedor .top-redes ul li a{
text-decoration: none;
color: #363940;
padding: 10px 15px;
display: inline-block;
font-size: 16px;
}

.header .top-header .contenedor .top-redes ul li a:hover{
  color: #8b919c;
}

.titulo {
  margin: 35px 0;
  text-align: center;
}

.titulo .contenedor h1 a{
  text-decoration;
  color: #363940;
  font-size: 60px;
  display: inline-block;
  padding: 30px 0;
  font-weight: 300;
}

.titulo .contenedor h1 a{
 color: #8b919c;
 text-decoration: none;
}

.titulo .contenedor .subtitulo {
  font-size: 16px;
  letter-spacing: 1px;
  color: #c7c7c7
}

/*main*/
.main .banner {
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.mail .baner .contenedor .banner-principa{
  width: 100%;
}

.mail .baner .contenedor .banner-principa img{
  width: 100%;
}


/*asaid*/
.asaid{
  float: right;
  width: 28%;
}

.asaid .widget{
  background: #fff;
  padding: 40px;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
}

.asaid .widget .autor-widget .foto-autor{
  text-align: center;
  margin-bottom: 10px;
}

.asaid .widget .autor-widget .foto-autor img{
  width: 120px;
  border-radius: 50%;
}

.asaid .widget .autor-widget .datos-autor {
  text-align: center;
}

.asaid .widget .autor-widget .datos-autor .nombre{
  color: #363940;
  font-size: 26px;
  margin-bottom: 10px;
}

.asaid .widget .autor-widget .datos-autor .profecion{
  color: #9c9c9c;
  font-size: 16px;
  margin-bottom: 20px;
}

.asaid .widget .autor-widget .datos-autor .info{
  color:#363940;
  font-size: 16px;
  margin-bottom: 10px;
}

.asaid .widget .destacados-widget{
 text-align: center;
}

.asaid .widget .destacados-widget .titulo-destacados{
  color: #363940;
  font-size: 26px;
  margin-bottom: 20px;
}

.asaid .widget .destacados-widget ul{
  list-style: none;
  text-align: left;
  border-top: 1px solid #f0f0f0;
}

.asaid .widget .destacados-widget ul li a{
  color: #363940;
  font-size: 16px;
  display:block;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  text-decoration: none;
}

.asaid .widget .destacados-widget ul li a:hover{
  text-decoration: underline;
  color: #8b919c;
}

/*footer*/

.footer{
  background: #fff;
  padding: 40px;
  border: 1px solid #f0f0f0;
  text-align: center;
  color: #9c9c9c;
}

.footer .iconos-freepik{
  font-size: 8px;
}
